*{
    list-style-type: none;
}

h1{
    color: whitesmoke;
}

.todo-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background:#24BD64;
}

html{
    background:#24BD64;
}